{#navigation#}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-0">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/mylogo.png' %}" alt="Logo" width="35" height="30" class="d-inline-block align-text-top">
      HUDUMA KENYA
    </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb2 mb-lg-0 ms-lg-4">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/">About</a>
            <li class="nav-item">
              <a class="nav-link" href="/services/">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/">Contact Us</a>
            </li>

              {% if user.is_authenticated%}
              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
          </ul>
        </li>
              <li class="nav-item">
              <a class="nav-link" href="/logout/">Logout</a>
            </li>
              {% else %}
              <li class="nav-item">
              <a class="nav-link" href="/login/">Login</a>
            </li>
                <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
              {% endif %}
          </ul>
      </div>
  </div>
</nav>
{#      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#      <span class="navbar-toggler-icon"></span>#}
{#    </button>#}

